@import url(http://fonts.googleapis.com/css?family=Fauna+One|Muli);

body {
  margin: 0;
  font-family: 'Fauna One', serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fauna One', serif;

}
